<div class="search-box row">
    <div class="span10">
        <div class="explain-text general-text">
            Use selectors to construct your query.
        </div>
        <div class="search-components"></div>
        <div class="component-controls">
            <button class="btn btn-link add-condition">+ Add another condition</button>
        </div>
        <div class="general-buttons">
            <button class="btn btn-primary"> Start search </button>
            <button class="btn btn-link"> Clear search </button>
        </div>
    </div>
    <div class="span2">

    </div>

</div>