*.class
*.log
*.bak

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
localrepo/

# Scala-IDE specific
.scala_dependencies
.idea
.idea_modules

# Visual Paradigm specific
.lock
.vpprefdata/
*.vpp~*
tmp/
